<%- include('partials/header'); -%>

<form action="/" method="post">
    <div class="description"><em>Watch for current temperature and weather conditions in any city.</em></div>
    <div class="input">
        <label for="cidade">City:</label>
        <input type="text" id="cidade" name="cityName">
        <label for="cidade"><i class="uil uil-search-alt"></i></label>
    </div>
    <button type="submit">Search</button>
</form>

<%- include('partials/footer'); -%>